* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.content-left {
    max-width: 500px;
    margin-bottom: 100px;
}

.fb-logo-text {
    font-size: 60px;
    color: #1877f2;
    letter-spacing: -2px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.content-left h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    color: #1c1e21;
}

.content-right {
    width: 396px;
    text-align: center;
}

.login-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

input {
    width: 100%;
    height: 52px;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    outline: none;
    margin-bottom: 12px;
}

input:focus {
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.login-btn {
    width: 100%;
    height: 48px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
}

.login-btn:hover{
    background-color: #166fe5;
}

.forgot-password {
    display: block;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}
.forgot-password:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #dadde1;
    margin-bottom: 20px;
}

.create-account-btn {
    height: 48px;       
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 0 16px;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #36a420;
}

.footer-text {
    font-size: 14px;
    color: #1c1e21;
}

.footer-text b {
    cursor: pointer;
}

.footer-text b:hover {
    text-decoration: underline;
}